<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SmsMon.Properties.Settings.SmsMonitorConnectionString"
      connectionString="Data Source=USER-PC;Initial Catalog=SmsMonitor;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SmsMon.Properties.Settings.SmsMonitorConnectionString1"
      connectionString="Data Source=USER-PC;Initial Catalog=SmsMonitor;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
     <add key="connectionString" value="Data Source=user-PC;Initial Catalog=SmsMonitor;Integrated Security=True" />
     <add key="DestinationDatabase" value="Initial Catalog=SmsMonitor;Data Source=user-PC\Localhost; Integrated Security=SSPI" /> 
    <!--<add key="connectionString" value="Data Source=PARVAIZ-PC\ADNAN;Initial Catalog=SmsMonitor;Integrated Security=True" /> 
    <add key="DestinationDatabase" value="Initial Catalog=SmsMonitor;Data Source=PARVAIZ-PC\Localhost; Integrated Security=SSPI" /> --> 
    <add key="DiscardedSMS" value="c:\temp\AeiDiscardedSMS" />
    <add key="MaxGens" value="100" />
    <add key="CommandTimeout" value="500" />
    <add key="GenPollTime" value="80" />
    <add key="RxMODEM" value="COM11" />
    <add key="PollMODEM" value="COM1" />
    <add key="GPRSPollModem" value="D-Link" />
    <!--add key="GPRSRxModem" value="ST-Ericsson" />-->
    <add key="GPRSRxModem" value="Qualcomm USB" />
    <add key="GPRSBaudRate" value="19200" /> 
    <!--add key="BaseSMSMobile" value="+923332551725" /> -->
    <add key="admin" value="aei" />
    <add key="pwd" value="tallyho" />
  </appSettings>
</configuration>